body{
    background-image: url(/Assets/img/composicion-elementos-estilo-vida-sostenible-bodegon.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000; 
} 



 
h1{
    text-align: center;
    color: #007b5e;
}

.organizers {
   text-align: center;
  
   padding: 10px;
}

.organizer {
    box-shadow: 0 0 5px #000000, 0 0 25px #407e233f; 
   
    color: rgb(0, 0, 0);
    border: none;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
    
}

.organizer img {
    width: 200px;
    border-radius: 25%;
} 

.organizer:hover{

   
    background-color: #004935c2;
    transform: translateY(-2px);
    box-shadow: 0 0 5px #ffffff, 0 0 25px #005f46, 0 0 30px #0a8d06, 0 0 60px #005f46, 0 0 100px #0a8d06;
    color: aliceblue;
}

button {
    box-shadow: 0 0 5px #ffffff, 0 0 25px #ffffff; 
    background-color: #02580a;
    color: white;
    border: none;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #004935;
    transform: translateY(-2px);
    box-shadow: 0 0 5px #ffffff, 0 0 25px #005f46, 0 0 50px #004935, 0 0 100px #005f46, 0 0 200px #0a8d06;
}
