.banner{
    background-image: url(/Assets/img/lluvias-7_41379634_20230106140708.jpg);
    background-position: top center;
    background-size: cover;
    padding:24%;
    z-index: 1;
    position: relative;
    background-attachment: fixed;
}

body {
    background: linear-gradient(135deg, #c3e8f7, #a6e4b0);
}



button {
    box-shadow: 0 0 5px #007b5e, 0 0 25px #007b5e; 
    background-color: #007b5e;
    color: white;
    border: none;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #005f46;
    transform: translateY(-2px);
    box-shadow: 0 0 5px #005f46, 0 0 25px #005f46, 0 0 50px #005f46, 0 0 100px #005f46, 0 0 200px #005f46;
}