.banner{
    background-image: url(/Assets/img/Esfera\ con\ árboles\ _\ Foto\ Gratis.jfif);
    background-position: top center;

    padding: 21%;
    z-index: 1;
    position: relative;
    background-attachment: fixed; 
    height: 50px;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(/Assets/img/composicion-elementos-estilo-vida-sostenible-bodegon.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
   
    color: #000000; 
}



button {
    box-shadow: 0 0 5px white, 0 0 25px #048b10; 
    background-color: #02580a;
    color: white;
    border: none;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
   
    background-color: #004935;
    transform: translateY(-2px);
    
}