body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



.container {
    background-image: url('https://cloudfront-us-east-1.images.arcpublishing.com/infobae/QOTCRB6S45CWDCL4BNMQ2CLMKI.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #007b5e; 
}

h1 {
    font-size: 36px;
    margin: 0;
    color: #014737; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 24px;
}

li strong {
    font-weight: bold;
}

.highlight {
    color: #014737; 
}

button {
    background-color: #007b5e;
    color: white;
    border: none;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover {
    background-color: #005f46;
    transform: translateY(-2px);
}
button:active {
    background-color: #004935;
    transform: translateY(0);
}

